{% extends 'base.html.twig' %}

{% block title %}New Category{% endblock %}
{% block body %}
	<div class="container col-md-12" style="padding: 20px;">
		<div class="card">
		    <div class="card-header">New Category</div>
		    <div class="card-body">
		    	{{ form(form) }}
		    </div>
		</div>
	</div>
{% endblock %}
